flows/ACLS_SMS_Outbound_Injection_Training_Reminder_SMS_Greater_than_5_Days.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adding Message Record Details</description>
        <name>Add_Message_Record_Details</name>
        <label>Add Message Record Details</label>
        <locationX>484</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Patient_Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_SenderUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_SMS_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_ReceiverAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Patient_Program__r.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eLetters_from_Engagement_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign EPE Id in message record</description>
        <name>Assign_EPE_Id_in_message_record</name>
        <label>Assign EPE Id in message record</label>
        <locationX>572</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_SMSELetter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EPE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_message_Data_to_Subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check if eletter Type as SMS</description>
        <name>check_eletter_Type_as_SMS</name>
        <label>check eletter Type as SMS</label>
        <locationX>704</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Loop_on_EPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_EPE.PC_eLetter__r.PC_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_EPE.PC_eLetter__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InjectionTrainingReminderSMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EPE_Id_in_message_record</targetReference>
            </connector>
            <label>if SMS</label>
        </rules>
    </decisions>
    <description>SMS Outbound- Injection Training Reminder SMS - Greater than 5 Days</description>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (5/1440)</expression>
    </formulas>
    <formulas>
        <name>IntegrationStartDateFormula</name>
        <dataType>Date</dataType>
        <expression>NOW()+5</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SMS Outbound- Injection Training Reminder SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMS Outbound- Injection Training Reminder SMS - Greater than 5 Days</label>
    <loops>
        <description>Loop on EPE</description>
        <name>Loop_on_EPE</name>
        <label>Loop on EPE</label>
        <locationX>484</locationX>
        <locationY>528</locationY>
        <collectionReference>eLetters_from_Engagement_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_eletter_Type_as_SMS</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Records of eLetters from Engagement Program</description>
        <name>eLetters_from_Engagement_Program</name>
        <label>eLetters from Engagement Program</label>
        <locationX>484</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_EPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_Patient_Program__r.PC_Engagement_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PC_Engagement_Program_Eletter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>NOT(ISNULL({!$Record.PC_Start__c})) &amp;&amp; ISPICKVAL({!$Record.PC_Type__c}, &apos;Injection Training&apos;) &amp;&amp; ISPICKVAL({!$Record.PC_Status__c}, &apos;Requested&apos;) &amp;&amp;{!$Record.PC_Start__c} &gt; NOW() +5</filterFormula>
        <object>PC_Interaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>If_the_Start_date_is_5_days_from_today</name>
            <connector>
                <targetReference>Add_Message_Record_Details</targetReference>
            </connector>
            <label>If the Start date is 5 days from today</label>
            <offsetNumber>-5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>PC_Start__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Pass message Data to Subflow</description>
        <name>Pass_message_Data_to_Subflow</name>
        <label>Pass message Data to Subflow</label>
        <locationX>572</locationX>
        <locationY>888</locationY>
        <flowName>ACLS_Create_Message_Record_subflow</flowName>
        <inputAssignments>
            <name>MessageRecord</name>
            <value>
                <elementReference>MessageRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>InjectionTrainingReminderSMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Injection Training Reminder SMS</stringValue>
        </value>
    </variables>
    <variables>
        <name>MessageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>testFlormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
