flows/ACLS_PA_Status_Update_if_new_BI_case_is_created.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>set PA Status</description>
        <name>set_PA_Status</name>
        <label>set PA Status</label>
        <locationX>732</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>$Record.PC_PA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>check if record type is BIBV</description>
        <name>if_record_type_is_BIBV</name>
        <label>is record type is BIBV</label>
        <locationX>776</locationX>
        <locationY>546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_BIBV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BIBVCaseRecordTypeID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Program_Coverage__r.PA_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_PA_Status</targetReference>
            </connector>
            <label>if BIBV</label>
        </rules>
    </decisions>
    <description>PA Status Update(if new BI case is created)</description>
    <environments>Default</environments>
    <interviewLabel>PA Status Update(if new BI case is created) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PA Status Update(if new BI case is created)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get record typeid by using developer name</description>
        <name>Getrecordtypeid</name>
        <label>Getrecordtypeid</label>
        <locationX>775</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_record_type_is_BIBV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PC_Benefits_Investigation_Benefits_Verification</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BIBVCaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Getrecordtypeid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Program_Coverage__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BIBVCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
