flows/ACLS_Populate_Parent_Document_To_Child_Document.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Values to Child Document</description>
        <name>Assign_Values_to_Child_Doc</name>
        <label>Assign Values to Child Doc</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.PC_Engagement_Program__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Parent_Document__r.PC_Engagement_Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PC_From_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Parent_Document__r.PC_From_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PC_To_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Parent_Document__r.PC_To_Fax_Number__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check if The Record Type Fax Inbound</description>
        <name>Check_The_Record_Type_Fax_Inbound</name>
        <label>Check The Record Type Fax Inbound</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Type_Fax_Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PC_Fax_Inbound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Child_Doc</targetReference>
            </connector>
            <label>If Type = Fax-Inbound</label>
        </rules>
    </decisions>
    <description>Populate Parent Document To Child Document</description>
    <environments>Default</environments>
    <interviewLabel>Update Child Rec {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Parent Document To Child Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_The_Record_Type_Fax_Inbound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Parent_Document__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PC_Document__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ParentRecordtoVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PC_Fax_Inbound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PC_Fax_Inbound</stringValue>
        </value>
    </variables>
</Flow>
