flows/ACLS_SMS_Outbound_Injection_Training_Reminder_SMS_Less_Than_5_Days.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adding Message Record Details</description>
        <name>Add_Message_Record_Details</name>
        <label>Add Message Record Details</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Patient_Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_SenderUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_SMS_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_ReceiverAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Patient_Program__r.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eLetters_from_Engagement_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assignment of  EPE Id in message record</description>
        <name>Assign_EPE_Id_in_message_record</name>
        <label>Assign EPE Id in message record</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_SMSELetter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EPE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_message_Data_to_Subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if letter type as SMS</description>
        <name>check_eletter_Type_as_SMS</name>
        <label>check eletter Type as SMS</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Loop_on_EPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_EPE.PC_eLetter__r.PC_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_EPE.PC_eLetter__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InjectionTrainingReminderSMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EPE_Id_in_message_record</targetReference>
            </connector>
            <label>if SMS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Starting date Less than 5 Days</description>
        <name>start_date_less_than_5_days</name>
        <label>start date less than 5 days</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_less_than_5_days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PC_Start__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DateTimeFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Start__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_End__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Start__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.PC_End__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Message_Record_Details</targetReference>
            </connector>
            <label>if less than 5 days</label>
        </rules>
    </decisions>
    <description>SMS Outbound- Injection Training Reminder SMS- Less Than 5 Days</description>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + 5</expression>
    </formulas>
    <formulas>
        <name>IntegrationStartDateFormula</name>
        <dataType>Date</dataType>
        <expression>NOW()+5</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SMS Outbound- Injection Training Reminder SMS- Less Than 5 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SMS Outbound- Injection Training Reminder SMS- Less Than 5 Days</label>
    <loops>
        <description>Loop on EPE</description>
        <name>Loop_on_EPE</name>
        <label>Loop on EPE</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>eLetters_from_Engagement_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_eletter_Type_as_SMS</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Records of eletter from Engagement Program</description>
        <name>eLetters_from_Engagement_Program</name>
        <label>eLetters from Engagement Program</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_EPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_Patient_Program__r.PC_Engagement_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PC_Engagement_Program_Eletter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>start_date_less_than_5_days</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>PC_Start__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PC_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Injection Training</stringValue>
            </value>
        </filters>
        <object>PC_Interaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Pass message Data to Subflow</description>
        <name>Pass_message_Data_to_Subflow</name>
        <label>Pass message Data to Subflow</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <flowName>ACLS_Create_Message_Record_subflow</flowName>
        <inputAssignments>
            <name>MessageRecord</name>
            <value>
                <elementReference>MessageRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>InjectionTrainingReminderSMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Injection Training Reminder SMS</stringValue>
        </value>
    </variables>
    <variables>
        <name>MessageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>testFlormula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
