flows/ACLS_Create_Message_Record_subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assignment of  Campaign Name</description>
        <name>Assign_Campaign_Name</name>
        <label>Assign Campaign Name</label>
        <locationX>567</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_Campaign_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Name.ACLS_Campaign_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Message_Record_new</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Message Status to Queued</description>
        <name>Update_Message_Status_to_queued</name>
        <label>Update Message Status to queued</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Receiver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PSPCollection.ACLS_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_ExternalRecipientNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PSPCollection.ACLS_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_Program_Service_Permission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PSPCollection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Status to Failed</description>
        <name>Update_Status_to_failed</name>
        <label>Update Status to failed</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unprocessed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_MessageStatusDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentNotAvailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check for Message Status</description>
        <name>check_message_Status</name>
        <label>check message Status</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessageRecord.PC_Message_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SMS_Consent_Serviceid</targetReference>
            </connector>
            <label>if Draft</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check SMS Consent</description>
        <name>check_SMS_Consent_Available</name>
        <label>check SMS Consent Available</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Update_Status_to_failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PSPCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Message_Status_to_queued</targetReference>
            </connector>
            <label>if available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Null check for Message Record Variable</description>
        <name>Null_check_for_messageRecord_Variable</name>
        <label>Null check for messageRecord Variable</label>
        <locationX>567</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MessageRecord</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>check_message_Status</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <description>Create Message Record subflow</description>
    <environments>Default</environments>
    <interviewLabel>Create Message Record subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Message Record subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creation of Error Log</description>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>930</locationX>
        <locationY>1526</locationY>
        <inputAssignments>
            <field>PC_Additional_Information__c</field>
            <value>
                <elementReference>SMS_LogErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Running_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create New Message Record</description>
        <name>Create_Message_Record_new</name>
        <label>Create Message Record new</label>
        <locationX>567</locationX>
        <locationY>1406</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <inputReference>MessageRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Campaign Name</description>
        <name>Get_Campaign_Name</name>
        <label>Get Campaign Name</label>
        <locationX>567</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Campaign_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessageRecord.PC_Case__r.PC_Engagement_Program__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PC_EngagementProgram__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get PSP Records related to the Program Case</description>
        <name>Get_PSP_records_related_to_the_program_case</name>
        <label>Get PSP records related to the program case</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_SMS_Consent_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SMS_Consent_Serviceid.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PC_Patient_Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>PC_ProgramCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessageRecord.PC_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ACLS_Opt_In_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opt In Confirmed</stringValue>
            </value>
        </filters>
        <object>PC_Program_Service_Permission__c</object>
        <outputReference>PSPCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ACLS_Phone__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get SMS Consent ServiceId</description>
        <name>Get_SMS_Consent_Serviceid</name>
        <label>Get SMS Consent Serviceid</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PSP_records_related_to_the_program_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SMS_Consent</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PC_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Null_check_for_messageRecord_Variable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>col</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>ConsentNotAvailable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Consent is not available for this patient</stringValue>
        </value>
    </variables>
    <variables>
        <name>epName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>epNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>MessageRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>newMessageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>newMessageRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>PSPCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Program_Service_Permission__c</objectType>
    </variables>
    <variables>
        <name>SMS_Consent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SMS Consent</stringValue>
        </value>
    </variables>
    <variables>
        <name>SMS_ErrorLogMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error Occurred in Flow : Create Message Record subflow while updating message Record</stringValue>
        </value>
    </variables>
    <variables>
        <name>SMS_ErrorLogPSP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMS_LogErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error Occurred in Flow : Create Message Record subflow while creating message Record</stringValue>
        </value>
    </variables>
</Flow>
