flows/ACLS_Inbound_Message_Record_Actions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Add Message Record Details</description>
        <name>Add_Message_Record_Details</name>
        <label>Add Message Record Details</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_ReceiverAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Existing_message_record.PC_Case__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_SenderUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Existing_message_record.PC_Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_Program_Service_Permission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Existing_message_record.ACLS_Program_Service_Permission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_SMS_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_Interaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Existing_message_record.ACLS_Interaction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Sender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Existing_message_record.PC_Sender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_ExternalRecipientNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Existing_message_record.PC_ExternalRecipientNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Receiver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Existing_message_record.PC_Receiver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eLetters_from_Engagement_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign EPE Id in message record</description>
        <name>Assign_EPE_Id_in_message_record</name>
        <label>Assign EPE Id in message record</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_SMSELetter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EPE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_message_Data_to_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error message for exception</description>
        <name>Set_Error_message_for_exception</name>
        <label>Set Error message for exception</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>exceptionErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PSP_record_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Error message for exception</description>
        <name>SetErrormessageforexception</name>
        <label>Set Error message for exception</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>exceptionErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_PSP_record_Id</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ACLS_Admin</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACLS_Admin</stringValue>
        </value>
    </constants>
    <constants>
        <name>PC_PSP_Task</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PC_PSP_Task</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check eletter Type as SMS</description>
        <name>check_eletter_Type_as_SMS</name>
        <label>check eletter Type as SMS</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_on_EPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_EPE.PC_eLetter__r.PC_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_EPE.PC_eLetter__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SMSOutboundHelpSMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EPE_Id_in_message_record</targetReference>
            </connector>
            <label>if SMS</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Existing Message Record Available</description>
        <name>if_existing_message_record_available</name>
        <label>if existing message record available</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Error_Log_when_there_is_no_existing_Message_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Existing_message_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACLS_SMS_Keyword__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HELP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Message_Record_Details</targetReference>
            </connector>
            <label>if available</label>
        </rules>
        <rules>
            <name>ACLS_If_Keyword_is_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Existing_message_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACLS_SMS_Keyword__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CONFIRM</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACLS_Update_Opt_In_Status_to_Opt_in_Confirmed</targetReference>
            </connector>
            <label>If Keyword is Confirm</label>
        </rules>
        <rules>
            <name>ACLS_If_Keyword_is_Stop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Existing_message_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACLS_SMS_Keyword__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>STOP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACLS_Update_Opt_in_Status_to_Opt_out_Confirmed</targetReference>
            </connector>
            <label>If Keyword is Stop</label>
        </rules>
        <rules>
            <name>if_keyword_is_not_identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACLS_SMS_Keyword__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CONFIRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACLS_SMS_Keyword__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>STOP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACLS_SMS_Keyword__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>HELP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Keyword_is_not_identified</targetReference>
            </connector>
            <label>if keyword is not identified</label>
        </rules>
    </decisions>
    <description>Inbound Message Record Actions</description>
    <environments>Default</environments>
    <formulas>
        <name>PatientName</name>
        <dataType>String</dataType>
        <expression>&quot;Message To - &quot; + {!get_Existing_message_record.PC_Case__r.Account.FirstName} +&quot; &quot; + {!get_Existing_message_record.PC_Case__r.Account.LastName}</expression>
    </formulas>
    <interviewLabel>Inbound Message Record Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound Message Record Actions</label>
    <loops>
        <description>Loop on Engagement Program eletter</description>
        <name>Loop_on_EPE</name>
        <label>Loop on EPE</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>eLetters_from_Engagement_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_eletter_Type_as_SMS</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Error Log When SMS ID Is Null</description>
        <name>Create_Error_Log_When_SMS_ID_Is_Null</name>
        <label>Create Error Log When SMS ID Is Null</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>SetErrormessageforexception</targetReference>
        </connector>
        <inputAssignments>
            <field>PC_Additional_Information__c</field>
            <value>
                <elementReference>ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Running_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Error Log when there is no existing Message record</description>
        <name>Create_Error_Log_when_there_is_no_existing_Message_record</name>
        <label>Create Error Log when there is no existing Message record</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Set_Error_message_for_exception</targetReference>
        </connector>
        <inputAssignments>
            <field>PC_Additional_Information__c</field>
            <value>
                <elementReference>ErrorMessageWhennoexistingMessagerecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Running_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Error Task</description>
        <name>Create_Error_Task</name>
        <label>Create Error Task</label>
        <locationX>1106</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>exceptionErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Assigned_To__c</field>
            <value>
                <elementReference>Get_Admin_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Category__c</field>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Channel__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Sub_Category__c</field>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_PSP_record_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>exception_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Keyword is not identified</description>
        <name>Keyword_is_not_identified</name>
        <label>Keyword is not identified</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>PC_Additional_Information__c</field>
            <value>
                <elementReference>Error_keyword_is_not_configurable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Datetime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Running_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Records of eLetters from Engagement Program</description>
        <name>eLetters_from_Engagement_Program</name>
        <label>eLetters from Engagement Program</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_EPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Existing_message_record.PC_Case__r.PC_Engagement_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PC_Engagement_Program_Eletter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Admin Queue Id</description>
        <name>Get_Admin_Queue_Id</name>
        <label>Get Admin Queue Id</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Error_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ACLS_Admin</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Existing Message Record</description>
        <name>get_Existing_message_record</name>
        <label>get Existing message record</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_existing_message_record_available</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Error_Log_When_SMS_ID_Is_Null</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_SMSId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PC_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get PSP record Id</description>
        <name>Get_PSP_record_Id</name>
        <label>Get PSP record Id</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admin_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PC_PSP_Task</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Opt In Status to Opt in Confirmed</description>
        <name>ACLS_Update_Opt_In_Status_to_Opt_in_Confirmed</name>
        <label>Update Opt In Status to Opt in Confirmed</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Existing_message_record.ACLS_Program_Service_Permission__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ACLS_Opt_In_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ACLS_Opt_In_Status__c</field>
            <value>
                <stringValue>Opt In Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>PC_Program_Service_Permission__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opt in Status to Opt out Confirmed</description>
        <name>ACLS_Update_Opt_in_Status_to_Opt_out_Confirmed</name>
        <label>Update Opt in Status to Opt out Confirmed</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Existing_message_record.ACLS_Program_Service_Permission__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ACLS_Opt_In_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ACLS_Opt_In_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opt In Confirmed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ACLS_Opt_In_Status__c</field>
            <value>
                <stringValue>Opt Out Confirmed</stringValue>
            </value>
        </inputAssignments>
        <object>PC_Program_Service_Permission__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Existing_message_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ACLS_SMS_Keyword__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PC_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inbound</stringValue>
            </value>
        </filters>
        <object>PC_Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Pass message Data to Subflow</description>
        <name>Pass_message_Data_to_Subflow</name>
        <label>Pass message Data to Subflow</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <flowName>ACLS_Create_Message_Record_subflow</flowName>
        <inputAssignments>
            <name>MessageRecord</name>
            <value>
                <elementReference>MessageRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ACLS_CONFIRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CONFIRM</stringValue>
        </value>
    </variables>
    <variables>
        <name>CONFIRM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CONFIRM</stringValue>
        </value>
    </variables>
    <variables>
        <name>Error_keyword_is_not_configurable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error occurred in the flow: Keyword present on message record is not configurable</stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error Occurred in Flow :Not able to find any existing message record for this SMS ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMessageWhennoexistingMessagerecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error Occurred in Flow :There is no existing Message record with same SMS ID</stringValue>
        </value>
    </variables>
    <variables>
        <name>exception_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Inbound SMS  : Exception Occurred</stringValue>
        </value>
    </variables>
    <variables>
        <name>exceptionErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HELP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>HELP</stringValue>
        </value>
    </variables>
    <variables>
        <name>MessageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>MessageRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>SMSOutboundHelpSMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SMS Outbound- Help SMS</stringValue>
        </value>
    </variables>
    <variables>
        <name>STOP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>STOP</stringValue>
        </value>
    </variables>
</Flow>
