flows/ACLS_Add_meeting_Link_On_Interation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>check for User Meeting Link</description>
        <name>check_for_User_Meeting_Link</name>
        <label>check for User Meeting Link</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PC_Patient_Program__r.ACLS_Case_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Patient_Program__r.ACLS_Case_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Null</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Patient_Program__r.ACLS_Case_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Meeting_Link_on_Interaction</targetReference>
            </connector>
            <label>if Available</label>
        </rules>
    </decisions>
    <description>Add meeting Link On Interaction</description>
    <environments>Default</environments>
    <interviewLabel>Add meeting Link On Interation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add meeting Link On Interaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Meeting Link on Interaction</description>
        <name>Update_Meeting_Link_on_Interaction</name>
        <label>Update Meeting Link on Interaction</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ACLS_Meeting_Link__c</field>
            <value>
                <elementReference>$Record.PC_Patient_Program__r.ACLS_Case_Manager__r.ACLS_Meeting_Link__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_User_Meeting_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Injection Training</stringValue>
            </value>
        </filters>
        <object>PC_Interaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
