flows/ACLS_Populate_Engagement_Code_on_Document.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Document ownerID assignment</description>
        <name>Document_ownerID_assignment</name>
        <label>Document ownerID assignment</label>
        <locationX>395</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>owneridVariable</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Engagement Program code Populator on document</description>
        <name>Engagement_Program_code_Populator</name>
        <label>Engagement Program code Populator</label>
        <locationX>527</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>$Record.PC_EngagementProgramCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Engagement_Program__r.PC_Program_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_engagement_program_is_Rx</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>ownerId Assigment</description>
        <name>ownerId_Assigment</name>
        <label>ownerId Assigment</label>
        <locationX>395</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>owneridVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_ownerID_assignment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PC_Email_Inbound</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PC_Email_Inbound</stringValue>
        </value>
    </constants>
    <constants>
        <name>PC_Fax_Inbound</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PC_Fax_Inbound</stringValue>
        </value>
    </constants>
    <constants>
        <name>PC_SMS_Inbound</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PC_SMS_Inbound</stringValue>
        </value>
    </constants>
    <decisions>
        <description>check If engagement program is Rx</description>
        <name>If_engagement_program_is_Rx</name>
        <label>If engagement program is Rx</label>
        <locationX>527</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_rareAssistRx</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PC_Engagement_Program__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RareAssistRx</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Document_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PC_Email_Inbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PC_Fax_Inbound</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PC_SMS_Inbound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Queue</targetReference>
            </connector>
            <label>If rareAssistRx</label>
        </rules>
    </decisions>
    <description>Populate Engagement Code on Document</description>
    <environments>Default</environments>
    <interviewLabel>Populate Engagement Code on Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Engagement Code on Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get Queue record</description>
        <name>get_Queue</name>
        <label>get Queue</label>
        <locationX>395</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ownerId_Assigment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RareAssistRx</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Engagement_Program_code_Populator</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PC_Document__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GroupObjVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>owneridVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
