flows/ACLS_Update_Person_Email_on_Caregiver_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check if Account is Caregiver</description>
        <name>ACLS_Check_if_Account_is_Caregiver</name>
        <label>Check if Account is Caregiver</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ACLS_Account_is_Caregiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACLS_Caregiver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACLS_Update_Person_Email</targetReference>
            </connector>
            <label>Account is Caregiver</label>
        </rules>
    </decisions>
    <description>Update Person Email on Caregiver Account when PC_Email is udpated</description>
    <environments>Default</environments>
    <interviewLabel>Update Person Email on Caregiver Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Person Email on Caregiver Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Person Email when Email field on layout is updated</description>
        <name>ACLS_Update_Person_Email</name>
        <label>Update Person Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.PC_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ACLS_Check_if_Account_is_Caregiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Email__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
