flows/ACLS_Create_caregiver_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>update firstName to LastName</description>
        <name>update_firstName_to_LastName</name>
        <label>update firstName to LastName</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.PC_Caregiver_Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Caregiver_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ACLS_Caregiver</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACLS_Caregiver</stringValue>
        </value>
    </constants>
    <constants>
        <name>PC_Patient</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <description>check if  Caregiver Fields True</description>
        <name>Fields_True</name>
        <label>Fields True</label>
        <locationX>94</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Caregiver_Fields_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PC_Caregiver_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Record_Type_Id</targetReference>
            </connector>
            <label>Caregiver Fields True</label>
        </rules>
        <rules>
            <name>check_for_firstName_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PC_Caregiver_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Caregiver_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_firstName_to_LastName</targetReference>
            </connector>
            <label>check for firstName empty</label>
        </rules>
    </decisions>
    <decisions>
        <description>check If Account Is Of Patient</description>
        <name>If_Account_Is_Of_Patient</name>
        <label>If Account Is Of Patient</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Patient</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACLS_Patient</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fields_True</targetReference>
            </connector>
            <label>If Patient</label>
        </rules>
    </decisions>
    <description>Create caregiver Account</description>
    <environments>Default</environments>
    <interviewLabel>Create Caregiver Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create caregiver Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Caregiver Record</description>
        <name>Create_Caregiver_Record</name>
        <label>Create Caregiver Record</label>
        <locationX>94</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>get_ContactIds</targetReference>
        </connector>
        <inputAssignments>
            <field>ACLS_Patient__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.PC_Caregiver_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.PC_Caregiver_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Caregiver_Details__c</field>
            <value>
                <elementReference>$Record.PC_Caregiver_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Caregiver_Relationship_to_Patient__c</field>
            <value>
                <elementReference>$Record.PC_Caregiver_Relationship_to_Patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Email__c</field>
            <value>
                <elementReference>$Record.ACLS_Caregiver_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>$Record.ACLS_Caregiver_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.ACLS_Caregiver_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.PC_Caregiver_Salutation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>get ContactIds</description>
        <name>get_ContactIds</name>
        <label>get ContactIds</label>
        <locationX>94</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Caregiver_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Caregiver_Record</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get Record Type Id of caregiver</description>
        <name>get_Record_Type_Id</name>
        <label>get Record Type Id</label>
        <locationX>94</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Related_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ACLS_Caregiver</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get Related Contact</description>
        <name>get_Related_Contact</name>
        <label>get Related Contact</label>
        <locationX>94</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Caregiver_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Caregiver Account</description>
        <name>Update_Caregiver_Account</name>
        <label>Update Caregiver Account</label>
        <locationX>94</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Caregiver_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HealthCloudGA__PrimaryContact__c</field>
            <value>
                <elementReference>get_ContactIds.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Account_Is_Of_Patient</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contactIdOnCaregiver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
