flows/ACLS_Update_PSP_if_confirmation_is_not_received_within_7_Days.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check for SMS Consent</description>
        <name>Check_for_SMS_Consent</name>
        <label>Check for SMS Consent</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SMS_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PC_Service__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CheckforSMSConsent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACLS_Update_Opt_In_Status</targetReference>
            </connector>
            <label>Check SMS Consent</label>
        </rules>
    </decisions>
    <description>Update PSP if confirmation is not received within 7 Days</description>
    <environments>Default</environments>
    <interviewLabel>Update PSP if confirmation is not received within 7 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update PSP if confirmation is not received within 7 Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Opt In Status</description>
        <name>ACLS_Update_Opt_In_Status</name>
        <label>Update Opt In Status</label>
        <locationX>242</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ACLS_Opt_In_Status__c</field>
            <value>
                <stringValue>Opt In Unconfirmed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Patient_Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ACLS_Opt_In_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PC_Program_Service_Permission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>ACLS_After_7_Days</name>
            <connector>
                <targetReference>Check_for_SMS_Consent</targetReference>
            </connector>
            <label>After 7 Days</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>SMS Consent</description>
        <name>ACLS_SMS_Consent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SMS Consent</stringValue>
        </value>
    </variables>
    <variables>
        <name>CheckforSMSConsent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SMS Consent</stringValue>
        </value>
    </variables>
    <variables>
        <name>SMSConsent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SMS Consent​</stringValue>
        </value>
    </variables>
</Flow>
