flows/ACLS_Update_status_on_Fax_Outbound_Document_record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Value Of Document to Document Id</description>
        <name>Assign_Value_Of_Document_to_Document_Id</name>
        <label>Assign Value Of Document to Document Id</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>DocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_associated_document_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_status_Of_Efaxs</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PC_Fax_Outbound</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PC_Fax_Outbound</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sent_Fax</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sent_Fax</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check RecordType of Fax</description>
        <name>Check_RecordType_of_Fax</name>
        <label>Check RecordType of Fax</label>
        <locationX>1370</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Record_Type_Sent_Fax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sent_Fax</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_associated_document_record</targetReference>
            </connector>
            <label>Is Record Type = Sent Fax</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the status Of Efax</description>
        <name>Check_the_status_Of_Efaxs</name>
        <label>Check the status Of Efax</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_status_NEW</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EFX__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_document_status_to_New</targetReference>
            </connector>
            <label>if status = NEW</label>
        </rules>
        <rules>
            <name>if_status_ERROR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EFX__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERROR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_document_status_to_Failed</targetReference>
            </connector>
            <label>if status = ERROR</label>
        </rules>
        <rules>
            <name>if_Status_COMPLETE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EFX__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMPLETE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_document_status_to_Sent</targetReference>
            </connector>
            <label>if Status = COMPLETE</label>
        </rules>
    </decisions>
    <description>Update status on Fax-Outbound Document record</description>
    <environments>Default</environments>
    <formulas>
        <name>ErrrorMessage</name>
        <dataType>String</dataType>
        <expression>{!Message} + {!DocumentId}</expression>
    </formulas>
    <interviewLabel>Update status on Fax-Outbound Document record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update status on Fax-Outbound Document record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Error Log</description>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>PC_Additional_Information__c</field>
            <value>
                <elementReference>ErrrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Datetime__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Running_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>create Error Log</description>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>PC_Additional_Information__c</field>
            <value>
                <elementReference>ErrrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Datetime__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Running_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Error log creation</description>
        <name>Error_log_creation</name>
        <label>Error log creation</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>PC_Additional_Information__c</field>
            <value>
                <elementReference>ErrrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Datetime__c</field>
            <value>
                <elementReference>DateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Running_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get associated document record</description>
        <name>Get_associated_document_record</name>
        <label>Get associated document record</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Value_Of_Document_to_Document_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ACLS_Fax__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PC_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update document status to Failed</description>
        <name>Update_document_status_to_Failed</name>
        <label>Update document status to Failed</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_associated_document_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PC_Document_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>PC_Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update document status to New</description>
        <name>Update_document_status_to_New</name>
        <label>Update document status to New</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <faultConnector>
            <targetReference>Error_log_creation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_associated_document_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PC_Document_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>PC_Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update document status to Sent</description>
        <name>Update_document_status_to_Sent</name>
        <label>Update document status to Sent</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_associated_document_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PC_Document_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>PC_Document__c</object>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_RecordType_of_Fax</targetReference>
        </connector>
        <object>EFX__efax__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>DocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error Occured in Flow : Update status on Fax-Outbound Document record while updating document status for Record</stringValue>
        </value>
    </variables>
</Flow>
