flows/ACLS_PA_Status_Update_if_Program_Coverage_is_Updated.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>set PA Status</description>
        <name>set_PA_Status</name>
        <label>set PA Status</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>LoopThroughAllBIBVRecords.PC_PA_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughAllBIBVRecords</targetReference>
        </connector>
    </assignments>
    <description>PA Status Update(if Program Coverage is Updated)</description>
    <environments>Default</environments>
    <interviewLabel>PA Status Update(if Program Coverage is Updated) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PA Status Update(if Program Coverage is Updated)</label>
    <loops>
        <description>Loop Through All BI BV Records</description>
        <name>LoopThroughAllBIBVRecords</name>
        <label>LoopThroughAllBIBVRecords</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>GetProgramCoverageRelatedBIBVRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_PA_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateBIBVRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get RecordTypeID of BiBv</description>
        <name>GetBiBvRecordTypeID</name>
        <label>GetBiBvRecordTypeID</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProgramCoverageRelatedBIBVRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PC_Benefits_Investigation_Benefits_Verification</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>BIBVCaseRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get ProgramCoverage Related BIBV Records</description>
        <name>GetProgramCoverageRelatedBIBVRecords</name>
        <label>GetProgramCoverageRelatedBIBVRecords</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughAllBIBVRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BIBVCaseRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Program_Coverage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update BIBV Records</description>
        <name>UpdateBIBVRecords</name>
        <label>UpdateBIBVRecords</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>GetProgramCoverageRelatedBIBVRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetBiBvRecordTypeID</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PA_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <object>PC_Program_Coverage__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BIBVCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProgmCoverageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
