flows/ACLS_Task_Creation_on_ProgramServicePermi.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>HIPAAAuthorization</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HIPAA Authorization</stringValue>
        </value>
    </constants>
    <constants>
        <name>PC_PSP_Task</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PC_PSP_Task</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProgramServicesAuthorization</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Program Services Authorization</stringValue>
        </value>
    </constants>
    <constants>
        <name>RenewAuthorization</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Renew Authorization</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check for Program Service Permission and HIPPA Authorization Service</description>
        <name>Check_for_Program_Service_and_HIPPA_Authorization_Service</name>
        <label>Check for Program Service and HIPPA Authorization Service</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_PSP_or_HIPPA</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>get_Service_Name.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProgramServicesAuthorization</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Service_Name.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HIPAAAuthorization</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_ProgramCase__r.ACLS_Case_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAssociationData</targetReference>
            </connector>
            <label>If PSP or HIPPA</label>
        </rules>
    </decisions>
    <description>Task Creation on ProgramServicePermission</description>
    <environments>Default</environments>
    <formulas>
        <name>getDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.PC_End_Date__c} - 30</expression>
    </formulas>
    <interviewLabel>Task Creation on ProgramServicePermi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Creation on ProgramServicePermi</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create PSP Task</description>
        <name>Create_PSP_Task</name>
        <label>Create PSP Task</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>getDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getAssociationData.PC_Associated_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Assign_to_Role__c</field>
            <value>
                <stringValue>Case Manager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Assigned_To__c</field>
            <value>
                <elementReference>getAssociationData.PC_Associated_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Channel__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_PSP_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>RenewAuthorization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.PC_ProgramCase__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>get PSP Task Record Type</description>
        <name>get_PSP_Task_Record_Type</name>
        <label>get PSP Task Record Type</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PSP_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PC_PSP_Task</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Service name of current PSP</description>
        <name>get_Service_Name</name>
        <label>get Service Name</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Program_Service_and_HIPPA_Authorization_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_Service__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PC_Service__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Association Data</description>
        <name>getAssociationData</name>
        <label>getAssociationData</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PSP_Task_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_ProgramCase__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Associated_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_ProgramCase__r.ACLS_Case_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PC_Associated_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PC_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Service_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Service__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>PC_Program_Service_Permission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
