flows/ACLS_Case_Manager_Association_With_Program_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check for Case manager</description>
        <name>Check_for_Case_manager</name>
        <label>Check for Case manager</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_manager_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACLS_Case_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Existing_Association_records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Association</targetReference>
            </connector>
            <label>Case manager is not null</label>
        </rules>
    </decisions>
    <description>Case Manager Association With Program Case</description>
    <environments>Default</environments>
    <interviewLabel>Case Manager Association With Program Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Manager Association With Program Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Association record for Case manager</description>
        <name>Create_Association</name>
        <label>Create Association</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>PC_Associated_User__c</field>
            <value>
                <elementReference>$Record.ACLS_Case_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_AssociationStatus__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Program__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Role__c</field>
            <value>
                <stringValue>Case Manager</stringValue>
            </value>
        </inputAssignments>
        <object>PC_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>get Existing Association records</description>
        <name>get_Existing_Association_records</name>
        <label>get Existing Association records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Case_manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Associated_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ACLS_Case_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PC_Associated_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PC_Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Existing_Association_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ACLS_Case_Manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
