flows/ACLS_Create_Message_Record_On_Task_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign EPE Id in message record</description>
        <name>Assign_EPE_Id_in_message_record</name>
        <label>Assign EPE Id in message record</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Message_Record.PC_SMSELetter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_EPE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Message_Record_With_Status_Draft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding Message Record Details</description>
        <name>Message_Record_Details</name>
        <label>Message Record Details</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Message_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Patient_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_Message_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_Message_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_ReceiverAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Program__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_SenderUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.ACLS_SMS_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send SMS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_EPE_Id_in_message_record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>two</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Check eLetter Type As SMS</description>
        <name>Check_eLetter_Type_As_SMS</name>
        <label>Check eLetter Type As SMS</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Loop_On_EPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_EPE.PC_eLetter__r.PC_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_On_EPE.PC_eLetter__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Missing_Information_Alert_Message</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Record_Details</targetReference>
            </connector>
            <label>if = SMS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Patient_Name</name>
        <dataType>String</dataType>
        <expression>&apos;Message To -&apos;+{!$Record.PC_Program__r.Account.FirstName} + &apos; &apos;+{!$Record.PC_Program__r.Account.LastName}</expression>
    </formulas>
    <interviewLabel>Create Message Record On Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Message Record On Task Creation</label>
    <loops>
        <description>Loop On Engagement Program eLetter</description>
        <name>Loop_On_EPE</name>
        <label>Loop On EPE</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Engagement_Program_eLetter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_eLetter_Type_As_SMS</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Engagement Program eLetter</description>
        <name>Get_Engagement_Program_eLetter</name>
        <label>Get Engagement Program eLetter</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_EPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_Program__r.PC_Engagement_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PC_Engagement_Program_Eletter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Engagement_Program_eLetter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ACLS_Attempt__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Missing Information Outreach</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Create Message Record With Status Draft</description>
        <name>Create_Message_Record_With_Status_Draft</name>
        <label>Create Message Record With Status Draft</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <flowName>ACLS_Create_Message_Record_subflow</flowName>
        <inputAssignments>
            <name>MessageRecord</name>
            <value>
                <elementReference>Message_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Message_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>Message_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>Missing_Information_Alert_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Missing Information Alert Message</stringValue>
        </value>
    </variables>
    <variables>
        <name>MissingInformationOutreach</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Missing Information Outreach</stringValue>
        </value>
    </variables>
    <variables>
        <name>PatientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Account.ACLS_Patient__r.FirstName</elementReference>
        </value>
    </variables>
</Flow>
