flows/ACLS_Pharmacy_Update_on_Dispense_Insertion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign Refill Data</description>
        <name>Assign_Refill_Data</name>
        <label>Assign Refill Data</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>PharmacyRefData.ACLS_Next_Refill_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentDate30</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PharmacyRefData.ACLS_Last_Refill_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pharmacy_Ref_Record</targetReference>
        </connector>
    </assignments>
    <description>Pharmacy Update on Dispense Insertion</description>
    <environments>Default</environments>
    <formulas>
        <name>currentDate30</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+30</expression>
    </formulas>
    <interviewLabel>Pharmacy Update on Dispense Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pharmacy Update on Dispense Insertion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Records of Pharmacy Referral</description>
        <name>get</name>
        <label>get</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Refill_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_Pharmacy_Referral__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PC_Pharmacy_Referral__c</object>
        <outputReference>PharmacyRefData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ACLS_Next_Refill_Date__c</queriedFields>
        <queriedFields>ACLS_Last_Refill_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Pharmacy Ref Record</description>
        <name>Update_Pharmacy_Ref_Record</name>
        <label>Update Pharmacy Ref Record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>PharmacyRefData</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Pharmacy_Referral__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>PC_Dispense__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PharmacyRefData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Pharmacy_Referral__c</objectType>
    </variables>
</Flow>
