flows/ACLS_PSP_Start_End_Date_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assignment of HCP Signed/Expiration Date</description>
        <name>HCP_Signed_Expiration_Date_Assignment</name>
        <label>HCP Signed/Expiration Date Assignment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.PC_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACLS_HCP_Signed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PC_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACLS_HCP_Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assignment of Patient Signed/Expiration Date</description>
        <name>Patient_Signed_Expiration_Date_Assignment</name>
        <label>Patient Signed/Expiration Date Assignment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.PC_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACLS_Patient_Signed_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PC_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACLS_Patient_Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Flow to Check which permission is checked</description>
        <name>Check_which_permission_is_checked</name>
        <label>Check which permission is checked</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_HCP_Permission_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACLS_HCP_Permission_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HCP_Signed_Expiration_Date_Assignment</targetReference>
            </connector>
            <label>if HCP Permission is checked</label>
        </rules>
        <rules>
            <name>if_PT_Legal_GUA_Permission_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACLS_PT_Legal_GUA_Permission_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_Signed_Expiration_Date_Assignment</targetReference>
            </connector>
            <label>if PT Legal GUA Permission is checked</label>
        </rules>
    </decisions>
    <description>PSP Start End Date Assignment from signed and expiration date fields</description>
    <environments>Default</environments>
    <interviewLabel>PSP Start End Date Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSP Start End Date Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_which_permission_is_checked</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>ACLS_HCP_Permission_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ACLS_PT_Legal_GUA_Permission_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PC_ProgramCase__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>PC_Program_Service_Permission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
