flows/ACLS_Create_Message_for_SMS_Optin.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign eletter for double optin</description>
        <name>Assign_eletter_for_double_optin</name>
        <label>Assign eletter for double optin</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_SMSELetter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_On_EPE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_SMS_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Message_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign EPE Id in message record</description>
        <name>Assign_EPE_Id_in_message_record</name>
        <label>Assign EPE Id in message record</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_SMSELetter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_On_EPE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_SMS_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opt-In</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Message_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Message Data</description>
        <name>Assign_Message_Data</name>
        <label>Assign Message Data</label>
        <locationX>402</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>MessageRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MessageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_ProgramCase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Message_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_ProgramCase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_ExternalRecipientNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACLS_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_Receiver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACLS_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_ReceiverAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_ProgramCase__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.PC_SenderUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageRecord.ACLS_Program_Service_Permission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACLS_Pass_message_Data_to_Subflow</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SMS_Consent</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS Consent</stringValue>
        </value>
    </constants>
    <decisions>
        <description>check eletter Type as SMS</description>
        <name>check_eletter_Type_as_SMS</name>
        <label>check eletter Type as SMS</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>loop_On_EPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_SMS_and_consent_available</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)  AND (6 OR 7) AND 8</conditionLogic>
            <conditions>
                <leftValueReference>loop_On_EPE.PC_eLetter__r.PC_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_On_EPE.PC_eLetter__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opt_In_Message</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACLS_Opt_In_Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PC_Patient_Response__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ACLS_Patient_Signed_Date__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACLS_Patient_Expiration_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACLS_Patient_Expiration_Date__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACLS_Patient_Signed_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_EPE_Id_in_message_record</targetReference>
            </connector>
            <label>if SMS and consent available</label>
        </rules>
        <rules>
            <name>if_SMS_and_Double_Opt_In_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_On_EPE.PC_eLetter__r.PC_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACLS_Opt_In_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opt In Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ACLS_Opt_In_Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Patient_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_On_EPE.PC_eLetter__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Double_Optin_message</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_eletter_for_double_optin</targetReference>
            </connector>
            <label>if SMS and Double Opt In available</label>
        </rules>
    </decisions>
    <decisions>
        <description>check for SMS Consent</description>
        <name>check_for_SMS_Consent</name>
        <label>check for SMS Consent</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_SMS_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PC_Service__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SMS_Consent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Engagement_Program_eLetter</targetReference>
            </connector>
            <label>if SMS Consent</label>
        </rules>
    </decisions>
    <description>Pass message Data to Subflow</description>
    <environments>Default</environments>
    <formulas>
        <name>MessageName</name>
        <dataType>String</dataType>
        <expression>&quot;Message to - &quot; +{!$Record.PC_ProgramCase__r.Account.FirstName} + &quot; &quot;+ {!$Record.PC_ProgramCase__r.Account.LastName}</expression>
    </formulas>
    <interviewLabel>Create Message for SMS Optin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Message for SMS Optin</label>
    <loops>
        <description>loop On EPE</description>
        <name>loop_On_EPE</name>
        <label>loop On EPE</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>get_Engagement_Program_eLetter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_eletter_Type_as_SMS</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get Engagement Program eLetter</description>
        <name>get_Engagement_Program_eLetter</name>
        <label>get Engagement Program eLetter</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_On_EPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_ProgramCase__r.PC_Engagement_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PC_Engagement_Program_Eletter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_SMS_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Patient_Response__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <object>PC_Program_Service_Permission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Pass message Data to Subflow</description>
        <name>ACLS_Pass_message_Data_to_Subflow</name>
        <label>Pass message Data to Subflow</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <flowName>ACLS_Create_Message_Record_subflow</flowName>
        <inputAssignments>
            <name>MessageRecord</name>
            <value>
                <elementReference>MessageRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Double_Optin_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Double Optin message</stringValue>
        </value>
    </variables>
    <variables>
        <name>MessageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>MessageRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>Opt_In_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Opt-In Message</stringValue>
        </value>
    </variables>
</Flow>
