flows/ACLS_Create_Message_Record_on_BIBV_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Message_Record_Details</name>
        <label>Add Message Record Details</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Message_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_Message_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.ACLS_SMS_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send SMS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_Message_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Program__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_ReceiverAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_Program__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message_Record.PC_SenderUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eLetters_from_Engagement_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EPE_Id_in_message_record</name>
        <label>Assign EPE Id in message record</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Message_Record.PC_SMSELetter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EPE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_message_Data_to_Subflow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_eletter_Type_as_SMS</name>
        <label>check eletter Type as SMS</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Loop_on_EPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_EPE.PC_eLetter__r.PC_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_EPE.PC_eLetter__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BIBVCompleteSMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EPE_Id_in_message_record</targetReference>
            </connector>
            <label>if SMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_RecordType</name>
        <label>check for RecordType</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_BIBV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PC_Benefits_Investigation_Benefits_Verification</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Message_Record_Details</targetReference>
            </connector>
            <label>if BIBV</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PatientName</name>
        <dataType>String</dataType>
        <expression>&quot;Message To  -  &quot; + {!$Record.Account.FirstName} +&quot; &quot; + {!$Record.Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>PatientPhoneNo</name>
        <dataType>String</dataType>
        <expression>{!Message_Record.PC_Case__r.Account.ACLS_Patient__r.Phone}</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>now()</expression>
    </formulas>
    <interviewLabel>Create Message Record on BIBV Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Message Record on BIBV Update</label>
    <loops>
        <name>Loop_on_EPE</name>
        <label>Loop on EPE</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>eLetters_from_Engagement_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_eletter_Type_as_SMS</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>eLetters_from_Engagement_Program</name>
        <label>eLetters from Engagement Program</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_EPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_Program__r.PC_Engagement_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PC_Engagement_Program_Eletter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_for_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Pass_message_Data_to_Subflow</name>
        <label>Pass message Data to Subflow</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <flowName>ACLS_Create_Message_Record_subflow</flowName>
        <inputAssignments>
            <name>MessageRecord</name>
            <value>
                <elementReference>Message_Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>BIBVCompleteSMS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BIBV Complete SMS</stringValue>
        </value>
    </variables>
    <variables>
        <name>CreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_eLetter__c</objectType>
    </variables>
    <variables>
        <name>Message_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>Message_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>PC_Benefits_Investigation_Benefits_Verification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PC_Benefits_Investigation_Benefits_Verification</stringValue>
        </value>
    </variables>
    <variables>
        <name>SMS_Consent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SMS Consent</stringValue>
        </value>
    </variables>
</Flow>
