flows/ACLS_Create_Message_for_SMS_OptOut.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign EPE id on messsage for opt out</description>
        <name>Assign_EPE_id_on_messsage_for_opt_out</name>
        <label>Assign EPE id on messsage for opt out</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>messageRecord.PC_SMSELetter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_EPE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_EPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Message Record data</description>
        <name>Assign_Message_Record_data</name>
        <label>Assign Message Record data</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>messageRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageRecord.PC_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageRecord.PC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_ProgramCase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageRecord.PC_Message_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageRecord.PC_Message_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageRecord.PC_ExternalRecipientNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACLS_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageRecord.PC_ReceiverAccount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PC_ProgramCase__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageRecord.ACLS_Program_Service_Permission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageRecord.ACLS_SMS_Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opt-Out</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_message_data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>check eletter category and name for opt out</description>
        <name>check_eletter_category_and_name_for_opt_out</name>
        <label>check eletter category and name for opt out</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Loop_on_EPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_opt_out_eletter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_EPE.PC_eLetter__r.PC_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_EPE.PC_eLetter__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opt_Out_Message</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EPE_id_on_messsage_for_opt_out</targetReference>
            </connector>
            <label>if opt out eletter</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for SMS Consent</description>
        <name>Check_for_SMS_Consent</name>
        <label>Check for SMS Consent</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>id_SMS_Consent_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PC_Service__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SMS_Consent</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ACLS_Opt_In_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Opt Out Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Engagement_Program_Eletter</targetReference>
            </connector>
            <label>id SMS Consent Available</label>
        </rules>
    </decisions>
    <description>Create Message for SMS OptOut</description>
    <environments>Default</environments>
    <formulas>
        <name>messageName</name>
        <dataType>String</dataType>
        <expression>&quot;Message to - &quot; +{!$Record.PC_ProgramCase__r.Account.FirstName} + &quot; &quot;+ {!$Record.PC_ProgramCase__r.Account.LastName}</expression>
    </formulas>
    <interviewLabel>Create Message for SMS OptOut {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Message for SMS OptOut</label>
    <loops>
        <description>Loop on EPE</description>
        <name>Loop_on_EPE</name>
        <label>Loop on EPE</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Engagement_Program_Eletter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_eletter_category_and_name_for_opt_out</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Message_Record_data</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Engagement Program Eletter</description>
        <name>Get_Engagement_Program_Eletter</name>
        <label>Get Engagement Program Eletter</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_EPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_ProgramCase__r.PC_Engagement_Program__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Engagement_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PC_Engagement_Program_Eletter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_SMS_Consent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ACLS_Opt_In_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opt Out Confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>PC_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PC_Program_Service_Permission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Send Message Data</description>
        <name>send_message_data</name>
        <label>send message data</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <flowName>ACLS_Create_Message_Record_subflow</flowName>
        <inputAssignments>
            <name>MessageRecord</name>
            <value>
                <elementReference>messageRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>messageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>messageRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_Message__c</objectType>
    </variables>
    <variables>
        <name>Opt_Out_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Opt-Out Message</stringValue>
        </value>
    </variables>
    <variables>
        <name>SMS_Consent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SMS Consent</stringValue>
        </value>
    </variables>
</Flow>
