flows/PC_CreatePAPCaseOnSurveyCompletion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>PC_Patient_is_eligible_for_PAP</name>
        <label>Patient is eligible for PAP</label>
        <locationX>410</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>PatientiseligibleforPAP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PC_lessThanOrEqualTo20000</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PC_Get_PAP_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PC_Patient_is_not_eligible_for_PAP</name>
        <label>Patient is not eligible for PAP</label>
        <locationX>413</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>PatientiseligibleforPAP</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PC_Get_PAP_Record_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision will check if the referenced record is Case</description>
        <name>PC_Check_If_Case_Account_record</name>
        <label>Check If Case/Account record</label>
        <locationX>885</locationX>
        <locationY>65</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PC_Is_Non_Program_case_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_Case__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_EngagementProgram__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PC_Create_PAP_case_for_Non_Program_cases</targetReference>
            </connector>
            <label>Is Non-Program case record</label>
        </rules>
        <rules>
            <name>isAccountRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_Account__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_EngagementProgram__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_Case__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PAP_case_for_Account</targetReference>
            </connector>
            <label>is Account Record</label>
        </rules>
        <rules>
            <name>PC_Is_Program_case_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_Case__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_EngagementProgram__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PC_Create_PAP_Case_for_Program_Case</targetReference>
            </connector>
            <label>Is Program case record</label>
        </rules>
    </decisions>
    <decisions>
        <name>PC_Check_if_salary_is_less_than_20000</name>
        <label>Check if salary is less than 20000</label>
        <locationX>226</locationX>
        <locationY>541</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PC_lessThanOrEqualTo20000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PC_Get_Survey_Response_For_Salary_Question.NumberValue</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_Get_Survey_Response_For_Salary_Question.NumberValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_Get_Survey_Response_For_Salary_Question.NumberValue</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PC_Patient_is_eligible_for_PAP</targetReference>
            </connector>
            <label>lessThanOrEqualTo20000</label>
        </rules>
        <rules>
            <name>PC_greater_than_20000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PC_Get_Survey_Response_For_Salary_Question.NumberValue</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_Get_Survey_Response_For_Salary_Question.NumberValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_Get_Survey_Response_For_Salary_Question.NumberValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PC_Patient_is_not_eligible_for_PAP</targetReference>
            </connector>
            <label>greater than 20000</label>
        </rules>
    </decisions>
    <decisions>
        <name>PC_CheckCategoryOfSubmittedSurvey</name>
        <label>Check category of submitted survey</label>
        <locationX>603</locationX>
        <locationY>180</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PC_ChecIfItIsPAPSurvey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_SurveyCategory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PC_SurveyInvitationRelatedObjectRecord.PC_SurveyCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC_PAP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PC_Get_Survey_Response</targetReference>
            </connector>
            <label>Check if it is PAP survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>PC_Verify_if_question_is_salary_question</name>
        <label>Verify if question is salary question</label>
        <locationX>98</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PC_Salary_question_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PC_Survey_question_record_loop_element.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PC_Get_Survey_Response_For_Salary_Question</targetReference>
            </connector>
            <label>Salary question exists</label>
        </rules>
        <rules>
            <name>PC_Salary_question_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PC_Survey_question_record_loop_element.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Salary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PC_Survey_question_record_loop_element</targetReference>
            </connector>
            <label>Salary question does not exist</label>
        </rules>
    </decisions>
    <description>This flow would create a PAP case on survey completion when the required conditions are satisfied.</description>
    <interviewLabel>Create PAP Case On Survey Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create PAP Case On Survey Completion</label>
    <loops>
        <name>PC_Survey_question_record_loop_element</name>
        <label>Survey question record loop element</label>
        <locationX>411</locationX>
        <locationY>346</locationY>
        <collectionReference>PC_Get_Survey_Salary_Question</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PC_Verify_if_question_is_salary_question</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PAP_case_for_Account</name>
        <label>Create PAP case for Account</label>
        <locationX>1054</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Update_Survey_Invitation_Related_Object_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>PC_SurveyInvitationRelatedObjectRecord.PC_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_PatientEligibleforAssistanceProgram__c</field>
            <value>
                <elementReference>PatientiseligibleforPAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PC_Get_PAP_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This flow would be used to create PAP cases for non-program case records.</description>
        <name>PC_Create_PAP_case_for_Non_Program_cases</name>
        <label>Create PAP case for Non-Program cases</label>
        <locationX>962</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>PC_update_Survey_Invitation_Related_Non_Program_records</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_PatientEligibleforAssistanceProgram__c</field>
            <value>
                <elementReference>PatientiseligibleforPAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>PC_SurveyInvitationRelatedObjectRecord.PC_Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PC_Get_PAP_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This flow would be used to create PAP cases for Program Case.</description>
        <name>PC_Create_PAP_Case_for_Program_Case</name>
        <label>Create PAP Case for Program Case</label>
        <locationX>802</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>Update_Survey_Invitation_Related_Object_records_for_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_PatientEligibleforAssistanceProgram__c</field>
            <value>
                <elementReference>PatientiseligibleforPAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Program__c</field>
            <value>
                <elementReference>PC_SurveyInvitationRelatedObjectRecord.PC_Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>PC_SurveyInvitationRelatedObjectRecord.PC_Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PC_Get_PAP_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>PC_Get_PAP_Record_Type</name>
        <label>Get PAP Record Type</label>
        <locationX>513</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PC_Check_If_Case_Account_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PC_PAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PC_Get_Survey_Invitation_Related_Object_Records</name>
        <label>Get Survey Invitation Related Object Records</label>
        <locationX>433</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PC_CheckCategoryOfSubmittedSurvey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_SurveyInvitation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>PC_SurveyInvitationRelatedObjects__c</object>
        <outputReference>PC_SurveyInvitationRelatedObjectRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PC_Account__c</queriedFields>
        <queriedFields>PC_Case__c</queriedFields>
        <queriedFields>PC_SurveyCategory__c</queriedFields>
        <queriedFields>PC_EngagementProgram__c</queriedFields>
        <queriedFields>PC_ResultingCase__c</queriedFields>
        <queriedFields>PC_SurveyInvitation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PC_Get_Survey_Response</name>
        <label>Get Survey Response</label>
        <locationX>236</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PC_Get_Survey_Salary_Question</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvitationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PC_Get_Survey_Response_For_Salary_Question</name>
        <label>Get Survey Response For Salary Question</label>
        <locationX>49</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PC_Check_if_salary_is_less_than_20000</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PC_Get_Survey_Response.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuestionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PC_Survey_question_record_loop_element.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SurveyQuestionResponse</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PC_Get_Survey_Salary_Question</name>
        <label>Get Survey Salary Question</label>
        <locationX>54</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PC_Survey_question_record_loop_element</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SurveyVersionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Survey.ActiveVersion.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SurveyQuestion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>PC_update_Survey_Invitation_Related_Non_Program_records</name>
        <label>Update Survey Invitation Related Non Program records</label>
        <locationX>1018</locationX>
        <locationY>543</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PC_SurveyInvitationRelatedObjectRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PC_ResultingCase__c</field>
            <value>
                <elementReference>PC_Create_PAP_case_for_Non_Program_cases</elementReference>
            </value>
        </inputAssignments>
        <object>PC_SurveyInvitationRelatedObjects__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Invitation_Related_Object_Records</name>
        <label>Update Survey Invitation Related Object Records</label>
        <locationX>1140</locationX>
        <locationY>462</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PC_SurveyInvitationRelatedObjectRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PC_ResultingCase__c</field>
            <value>
                <elementReference>Create_PAP_case_for_Account</elementReference>
            </value>
        </inputAssignments>
        <object>PC_SurveyInvitationRelatedObjects__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Invitation_Related_Object_records_for_Case</name>
        <label>Update Survey Invitation Related Object records for Case</label>
        <locationX>827</locationX>
        <locationY>548</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PC_SurveyInvitationRelatedObjectRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PC_ResultingCase__c</field>
            <value>
                <elementReference>PC_Create_PAP_Case_for_Program_Case</elementReference>
            </value>
        </inputAssignments>
        <object>PC_SurveyInvitationRelatedObjects__c</object>
    </recordUpdates>
    <start>
        <locationX>38</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>PC_Get_Survey_Invitation_Related_Object_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newPapCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>PatientiseligibleforPAP</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PC_SurveyInvitationRelatedObjectRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_SurveyInvitationRelatedObjects__c</objectType>
    </variables>
    <variables>
        <name>SalaryIsLessthan20000</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
